@font-face {
    font-family: Lato-Black;
    src: url('assets/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('assets/fonts/Lato-Light.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* HEADER */

.cotainer {
    max-width: 1020px;
    margin: auto
}

.header_div {
    position: relative;
}

header {
    width: 1020px;
    height: 89px;
    background-color:#292c37;
    border-bottom: solid #2e3444 6px;
    color: white;
    position: fixed;
    font-family: 'Lato-Bold';
    z-index: 5;
    max-width: 100%;
}

header a {
    text-decoration: none;
}

header h1 a {
    color:#fff; 
}

header h1 {
    max-width: 120px;
    margin: 0px;
    padding-left: 4%;
    padding-top: 3%;
    font-family: 'Lato-Bold';
    font-size: 24px; 
} 

header h1 a:hover{
    color: lightgrey;
}

.red_star {
    color: red;
}

.open_mini_menu {
    width: 20%;
    height: 100%;
    align-items: center;
    display: none;
}

.open_mini_menu svg {
    margin: auto;
}

.open_mini_menu:hover {
    background-color:#0f1014;
}

#menu {
    position: absolute;
    padding: 0;
    display: flex;
    right: 40px;
    top: 31px;
    font-size: 11px;
    letter-spacing: 0.44px;
}

.menu_li {
    margin-left: 25px;
    color: white;
    padding-left: 5px;
    transition: color 0.2s;
    cursor: pointer;
}

.menu_li:hover {
    color:#f69d98;
    transition: color 0.3s;
}

.active {
    color: #f06c64;
}

/* //HEADER */

/* SIDE MENU */

.side-menu {
    display: none;
    width: 75%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}

#shadow_block {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9000;
    background-color: black;
    opacity: 0.5;
    display: none;
}


.header_side{
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.header_side h2 {
    padding-left: 10%;
}

.header_side a {
    text-decoration: none;
    color:white;
    font-family: 'Lato-Bold';
}

.header_side a:hover{
    color: lightgrey;
}

.opened_mini_menu {
    align-items: center;
    cursor: pointer;
    transform: rotate(90deg)
}

.opened_mini_menu svg{
    margin: auto;
}

#mini_menu {
    width: 55px;
    height: 100%;
    align-items: center;
    padding-left: 20%;
    display: block;
    cursor: pointer;
    padding-top: 20%;
}

#mini_menu a {
    text-decoration: none;
    color: #fff;
}

.mini_menu {
    font-family: 'Lato-Bold';
    font-size: 24px;
    padding: 20% 0;
    list-style-type: none;
    transition: color 0.2s;
}

#mini_menu li:hover {
    color:#f69d98;
    transition: color 0.3s;
}

/* SLIDER CONTAINER */

.phone_container {
    width: 100%;
    padding-top: 10vh;
    height: 100%;
    position: relative;
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.active_slider, 
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    display: flex;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-direction: reverse;
    animation-name: right;
}

.from-left {
    animation-direction: reverse;
    animation-name: left;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    } 
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    } 
    to {
        left: 0;
    }
}

#slider-content {
    width: 1020px;
    max-width: 100%;
    height: 100%;
    background-color:#ef6c64;
    border-bottom: solid 1px #ef6c64;
}

#second_slider {
    width: 1020px;
    max-width: 100%;
    height: 100%;
}

#phone_1_container, #phone_2_container{
    display: flex;
}

#phone_pic_1, #phone_pic_2 {
    width: 100%;
    height: 100%;
}

#screen_on_off_first {
    width: 21%;
    height: 77%;
    display: flex;
    position: absolute;
    left: 11%;
    top: 10%;
}

 #screen_on_off_second {
    width: 45%;
    height: 36%;
    display: flex;
    position: absolute;
    right: 13%;
    top: 30.5%;
 }
 
 #left_arrow, 
 #right_arrow, 
 #screen_off_phone1, 
 #screen_off_phone2, 
 #screen_on_off_first, 
 #screen_on_off_second {
   position: absolute;
}

#screen_off_phone1 {
    width: 18.7%;
    height: 56.7%;
    left: 12.4%;
    top: 20.7%;
    background-color:black;
}

#screen_off_phone2 {
    height: 32.1%;
    width: 32.9%;
    right: 19.3%;
    top: 32.6%;
    left: auto;
    background-color: black;
}

#left_arrow, #right_arrow {
    width: 10%;
    height: 100%;
    cursor: pointer;
}

#left_arrow {
    transition: all 0.2s;
    left: 0;
    right: auto;
    top: 0;
}

#right_arrow {
    right: 0;
    left: auto;
    transition: all 0.2s;
    top: 0;
}

#left_arrow div, #right_arrow div {
    position: absolute;
    top: 50%;
    margin: auto;
    padding-left: 35%;
}

#left_arrow:hover, #right_arrow:hover {
    background-color: rgba( 0, 0, 0, 0.2);
}

/* //SLIDER CONTAINER */

/* SERVICES */

.our_services_container {
    min-height: 494px;
    background-color: #f2f2f2;
    border-bottom: solid white 6px;
    color: #666d89;
    
}

.text_content {
    padding-top: 40px;
    margin-left: 40px;
    font-family: 'Lato-Black';
    min-height: 175px;
    font-size: 15px;
}

.text_content h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_content p {
    margin: 0px;
    font-family: 'Lato-Light';
    font-size: 18px;
    padding-right: 20px;
    line-height: 29px;
    font-stretch: ultra-condensed;
    letter-spacing: -0.06px;
}

#design {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: d;
}

#ideas {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: i;
}

#answer {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: a;
}

#layuot {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: l;
}

#support {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: s;
}

#star {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: st;
}

.services {
    min-height: 124px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
}

.services_container {
    margin-left: 4%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    'd i a'
    'l s st';
    padding-top: 20px;
    padding-right: 20px;
}

.services_text {
    display: block;
    padding-left: 13px;
}

.services_text h2 {
    font-family: 'Lato-Bold';
    font-size: 19px;
    margin: 0px;
    letter-spacing: -0.4px;
}

.services_text p {
    margin-top: 8px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-stretch: extra-expanded; 
    line-height: 15px;
    text-align: justify;
    line-height: 21px;
}

.services_pic {
    width: 70px;
    height: 70px;
}

/* //SERVICES */

/* PORTFOLIO */

.portfolio_container {
    width: 1020px;
    margin: auto;
    background-color:#2d2f39;
    max-width: 100%;
}

.text_and_links_portfolio {
    padding-left: 4%;
    min-height: 196px;
}

.text_and_links_portfolio h2 {
    width:120px;
    max-width: 100%;
    font-size: 30px;
    line-height: 18px;
    font-family: "Lato-Bold";
    font-weight: 900;
    text-align: left;
    margin-top: 0px;
    padding-top: 70px;
    letter-spacing: 0.5px;
    color: #666d89;
}

.text_and_links_portfolio a {
    text-decoration: none;
    color: #666d89;
    transition: color;
}

.text_and_links_portfolio a:hover {
    color:white;
}

.text_and_links_portfolio p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: justify;
    padding-top: 7px;
    padding-bottom: 10px;
    margin: 0px;
    letter-spacing: -0.22px;
}

.text_and_links_portfolio ul {
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 19px;
}

.text_and_links_portfolio li a {
    text-decoration: none;
    color: #767e9e;
    -webkit-transform: color;
        -ms-transform: color;
            transform: color;
}

.text_and_links_portfolio li a:hover {
    color: white;
}

.text_and_links_portfolio li {
    margin-right: 6px;
    display: inline;
    list-style-type: none;
    padding: 3.5px 6px;
    font-size: 10.5px;
    line-height: 22px;
    font-family: "Lato-Regular";
    font-weight: 400;
    text-align: left;
    border: solid 1px #767e9e;
    border-radius: 5px;
    letter-spacing: 0.8px;
    transform: border;
}

.text_and_links_portfolio li:hover {
    border: solid white 1px;
}

.portfolio_active {
    color:white;
}

#one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: o;
}

#two {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: t;
    
}

#three {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: th;
    
}

#four {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: f;
    
}

#five {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fi;
    
}

#six {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: s;
    
}

#seven {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: se;
    
}

#eight {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: e;
    
}

#nine {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: n;
    
}

#ten {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: te;
    
}

#eleven {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: el;
    
}

#twelve {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: tw;
    
}

.img_container div {
    padding: 0px;
    position: relative;
}

.img_container div img {
    position: absolute;
    width: 220px;
    max-width: 100%;
    height: 187px;
    max-height: 100%;
    
}

.main_img_container {
    height: 668px;
    max-height: 100%;
    border-bottom:#313745 solid 6px;
}

.img_container {
    height: 620px;
    max-height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    overflow: hidden;
    display: -ms-grid;
    grid-template-columns: repeat(4);
    display: grid;
    grid-gap: 2%;
        grid-template-areas:
    "o t th f"
    "fi s se e"
    "n te el tw";
}

.img_container div:nth-child(n+13){
    display: none;
}

.active_border {
    border: solid #F06C64 5px;
    border-radius: 5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* //PORTFOLIO */

/* ABOUT_US */

.container_info {
    background-color:#f1f1f1;
    border-bottom: solid 6px white;
    padding-left: 4%;
    padding-right: 2.5%;
}

.text_info h2 {
    margin: 0px;
    padding-top: 7%;
    font-family: 'Lato-Bold';
    font-size: 5vh;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.text_info p {
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 4%;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;
    padding-bottom: 3%;
}

#first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
}

#second {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: second;
    margin:-ms-0px 10px;
}

#third {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: third;
}

.photo_info div {
    max-width: 300px;
    max-height: 300px; 

}

.photo_info div .photo_img {
    height: 100%;
    width: 100%;
}

.photo_info {
    grid-gap: 1.5%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    "first second third";
    padding-bottom: 20%;
}

.photo_info h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Bold";
    font-weight: 900;
    text-align: left;
    margin: 12px 0;
    letter-spacing: 0.13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.photo_info p {
    font-size: 12px;
    margin: 10px 0;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 400;
    text-align: justify;
    padding-bottom: 14px;
}

.links {
    margin-right: 2px;
    border-radius: 50%;
    transition: background-color;
}

.photo_info a img:hover {
    background-color:white;
}



/* //ABOUT_US */

/* GET A QUOTE */

.container_get_a_quote {
    width: 1020px;
    max-width: 100%;
    margin: auto;
    background-color:#f06c64;
    min-height: 648px;
    border-bottom: solid 6px #eb676b;
}

.text_get_a_quote {
    width: 940px;
    max-width: 92%;
    padding-left: 5%;
    color: #f0d1d1;
}

.text_get_a_quote h2 {
    margin: 0px;
    padding-top: 7%;
    font-family: 'Lato-Bold';
    font-size: 30px;
    line-height: 18px;;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
}

.text_get_a_quote p {
    width: 100%;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.05px;
}

.form_and_contact_container {
    padding-left: 5%;
    display: flex;
    width: 90%;
}

.form_container {
    margin-top: 5%;
    width: 90%;
}

.input_container input, textarea {
    background-color: #d6564f;
    border: 1px solid #d6564f; 
    border-radius: 5px;
    width: 94%;
    margin-right: 3%;
    height: 34px;
    margin-bottom: 16px;
    font-family: "Lato-Regular";
    font-size: 11px;
    padding-left: 14px; 
    color:#ec7e7f;
    letter-spacing: 0.6px;
    resize: none;
}

.form_container .name input:invalid, .form_container .email input:invalid {
    border: 1px solid #f0d1d1;
} 

textarea:focus, input:focus, .submit button:focus {
    outline: none;
}

::placeholder {
    color:#ec7e7f;
    letter-spacing: 0.6px;
}

#describe {
    width: 94%;
    height: 159px;
    padding-top: 10px;
}

#subm {
    padding: 6px 11px;
    background-color: #d6564f;
    border-radius: 5px;
    border: 1px solid #f0d1d1;
    color: #f0d1d1;
    letter-spacing: 0.7px;
    transition: color, background-color;
}

#subm:hover {
    color: #eb676b;
    background-color: #f0d1d1;
}

#message_block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0008;
}

.hidden {
    display: none;
}

#message {
    position: fixed;
    top: 30%;
    left: 30%;
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
    line-height: 5px;
    color: white;
    background-color: #f06c64;;
}

#message p {
    padding: 0 20px;
    line-height: 15px;
}

#close_btn {
    width: 50px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #f0d1d1;
    margin-bottom: 10px;
}

.contact_info {
    width: 30%;
}

.contact_info h3 {
    margin: 0px;
    padding-top: 44px;
    font-family: 'Lato-Bold';
    font-size: 18px;
    color: #f0d1d1;
    line-height: 18px;;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.15px;
}

.adress_container {
    margin-top: 22px;
}

.contact_info p {
    margin-top: 10px;
    font-size: 11px;
    line-height: 22px;
    font-family: "Lato-Regular";
    color: #f0d1d1;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.4px;
    transition: color;
}

.link_to_contact p:hover {
    color:white;
}

.link_to_contact a {
    display: flex;
    text-decoration: none;
}

.location img {
    width: 7px;
    height: 11px;
    padding: 5px 13px 0 4px;
}

.link_to_contact p {
    margin: 0px;
    letter-spacing: 0.3px;
}

.tel img {
    width: 12px;
    height: 12px;
    padding: 4px 12px 0 0;
}

.mail img {
    width: 13px;
    height: 8px;
    padding: 7px 11px 0 0;
}

/* //GET A QUOTE */

/* FOOTER */

footer {
    width: 1020px;
    max-width: 100%;
    margin: auto;
    height: 76px;
    background-color:#2d303a;
    position: relative;
}

footer h3 {
    margin: 0px;
    padding: 30px 43px;
    display: inline-block;
    font-family: "Lato-Regular";
    font-size: 11px;
    color: #666d89;
    letter-spacing: 0.2px;
}

#social_container {
    position: absolute;
    right:39px;
    top:21px;
    display: inline-block;  
}

#social_container a {
    text-decoration: none;
}

.social_links {
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    border: solid 1px #666d89;
    border-radius: 50%;
    padding: 7px 0 0 7px;
    transition: background-color;
}

.social_links:hover {
    background-color:#f0d8d9;
}

/* FOOTER */

/* MEDIA */

@media (max-width: 768px) {
    .services {
        padding-right: 5px;
    }
    
    .services_container {
        margin-left: 4%;;
            grid-template-areas: 
        'd i'
        'a l'
        's st';
        grid-gap: 5%;
        padding-right: 5px;
        padding-bottom: 10%;
    }

    .img_container {
        grid-template-areas:
        "o t th"
        "f fi s"
        "se e n"
        "te el tw";
        grid-gap: 3%;
    }

    .photo_info div {
        max-width: 217px;
    }

    #message {
        left: 25%;
    }
} 

@media (max-width: 375px) {
    header {
        height: 71px;
        display: flex;
        align-items: center;
    }
    
    header h1 {
        max-width: 120px;
        padding: 0 20%;
    }

    .open_mini_menu {
        display: flex;
    }
    
    #menu {
        display: none;
    }

    .text_content {
        padding-top: 10px;
        margin-left: 20px;
    }

    .text_content h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text_content p {
        padding-right: 5%;
    }

    .services_container {
        display: block;
        padding-bottom: 0;
    }

    .text_and_links_portfolio p {
        padding-right: 5%;
        text-align: justify;
    }

    .img_container {
        padding-right: 5%;
        grid-template-areas:
        "o t"
        "th f"
        "fi s"
        "se e";
        grid-gap: 3%;
    }

    .img_container div:nth-child(n+9){
        display: none;
    }
    
    .container_info {
        padding-top: 10%;
    }

    .text_info p {
        padding-top: 10%;
    }

    .photo_info {
        padding-top: 9%;
        display: block;
    }

    .photo_info div {
        max-width: 300px;
        max-height: 300px;
    }

    .photo_info div {
        padding-bottom: 50%;
        margin: auto;
    }
    
    .photo_info p {
        margin: 10px 0 0 0;
        padding-bottom: 3%;
    }

    #third {
        padding-bottom: 30%;
    }

    .form_and_contact_container {
        width: 92%;
        display: block;
        padding-bottom: 10%;
    }

    .form_container {
        width: 100%;
    }

    .contact_info {
        width: 100%;
    }

    #subm {
        width: 100%;
    }

    #message {
        width: 90%;
        top:30%;
        left: 5%;
    }

    footer h3 {
        display: none;
    }
    
    #social_container {
        position: relative;
        display: inline-block;  
        padding-left: 40%;
    }
}
