@font-face {
    font-family: Lato-Black;
    src: url('assets/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('assets/fonts/Lato-Light.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* HEADER */

.cotainer {
    max-width: 1020px;
    margin: auto
}

header {
    /* width: 100vw; */
    width: 1020px;
    height: 89px;
    background-color: #292c37;
    border-bottom: solid #2e3444 6px;
    color: white;
    position: fixed;
    font-family: 'Lato-Bold';
    z-index: 9999;
}

header a {
    text-decoration: none;
}

header h1 a {
    color:#fff; 
}

header h1 {
    max-width: 120px;
    margin: 0px;
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'Lato-Bold';
    font-size: 24px; 
} 

header h1 a:hover{
    color: lightgrey;
}

.red_star {
    color: red;
}

#menu {
    position: absolute;
    padding: 0;
    display: flex;
    right: 40px;
    top: 31px;
    font-size: 11px;
    letter-spacing: 0.44px;
}

.menu_li {
    margin-left: 25px;
    color: white    ;
    padding-left: 5px;
    transition: color 0.2s;
    cursor: pointer;
}

.menu_li:hover {
    color:#f69d98;
    transition: color 0.3s;
}

.active {
    color: #f06c64;
}

/* //HEADER */

/* SLIDER CONTAINER */

.phone_container {
    width: 100%;
    padding-top: 95px;
    max-height: 600px;
    position: relative;
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.active_slider, 
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    display: flex;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-direction: reverse;
    animation-name: right;
}

.from-left {
    animation-direction: reverse;
    animation-name: left;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    } 
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    } 
    to {
        left: 0;
    }
}

#slider-content {
    height: 594px;
    background-color:#f06c64;
    border-bottom: solid #eb676b 6px;
}

#second_slider {
    border-bottom: solid 6px #84a3df;
}

#phone_1_container {
    display: flex;
    position: absolute;
    left: 111px;
    top: 53px;
}

#screen_on_off_first {
    width: 215px;
    height: 455px;
    display: flex;
    position: absolute;
    left: 111px;
    top: 53px;
}

#phone_2_container {
    width: 465px;
    height: 215px;
    display: flex;
    position: absolute;
    left: 425px;
    top: 174px;
 }

 #screen_on_off_second {
    width: 456px;
    height: 213px;
    display: flex;
    position: absolute;
    left: 425px;
    top: 174px;
 }

#phone_pic_1,
 #phone_1, 
 #shadow_1, 
 #phone_pic_2, 
 #phone_2, 
 #shadow_2, 
 #left_arrow, 
 #right_arrow, 
 #screen_off_phone1, 
 #screen_off_phone2, 
 #screen_on_off_first, 
 #screen_on_off_second {
   position: absolute;
}

#phone_pic_1 {
    left: 15px;
    top: 65px;
}

#screen_off_phone1 {
    height: 334px;
    width: 188px;
    left: 15px;
    top: 65px;
    background-color:black;
}

#shadow_1 {
    left: 15px;
    top: 16px;
}

#phone_pic_2 {
    top: 13px;
    left: 60px;
}

#screen_off_phone2 {
    height: 190px;
    width: 334px;
    top: 13px;
    left: 60px;
    background-color: black;
}

#shadow_2 {
    top: 13px;
    left: 13px;
}

#left_arrow, #right_arrow {
    width: 10%;
    height: 100%;
    cursor: pointer;
}

#left_arrow {
    transition: all 0.2s;
    left: 0;
    right: auto;
    top: 0;
}

#right_arrow {
    right: 0;
    left: auto;
    transition: all 0.2s;
    top: 0;
}

#left_arrow div, #right_arrow div {
    position: absolute;
    top: 50%;
    margin: auto;
    padding-left: 35%;
}

#left_arrow:hover, #right_arrow:hover {
    background-color: rgba( 0, 0, 0, 0.2);
}

/* //SLIDER CONTAINER */

/* SERVICES */

.our_services_container {
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: solid white 6px;
    color: #666d89;
    
}

.text_content {
    padding-top: 40px;
    margin-left: 40px;
    font-family: 'Lato-Black';
    height: 175px;
    font-size: 15px;
}

.text_content h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_content p {
    margin: 0px;
    font-family: 'Lato-Light';
    font-size: 18px;
    padding-right: 20px;
    line-height: 29px;
    font-stretch: ultra-condensed;
    letter-spacing: -0.06px;
}

.text_content #next_p {
    font-size: 17.5px;
    letter-spacing: 0px;
}
#design {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: d;
}

#ideas {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: i;
}

#answer {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: a;
}

#layuot {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: l;
}

#support {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: s;
}

#star {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: st;
}

.services {
    width: 310px;
    height: 124px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services_container {
    width: 960px;
    margin-left: 37px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    'd i a'
    'l s st';
}

.services_text {
    display: block;
    padding-left: 13px;
}

.services_text h2 {
    font-family: 'Lato-Bold';
    font-size: 19px;
    margin: 0px;
    letter-spacing: -0.4px;
}

.services_text p {
    margin-top: 8px;
    width: 223px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-stretch: extra-expanded; 
    line-height: 15px;
    text-align: justify;
    line-height: 21px;
}

.services_pic {
    width: 70px;
    height: 70px;
}

/* //SERVICES */

/* PORTFOLIO */

.portfolio_container {
    width: 1020px;
    margin: auto;
    background-color:#2d2f39;
}

.text_and_links_portfolio {
    width: 980px;
    padding-left: 40px;
    height: 196px;
}

.text_and_links_portfolio h2 {
    width:120px;
    font-size: 30px;
    line-height: 18px;
    font-family: "Lato-Bold";
    font-weight: 900;
    text-align: left;
    margin-top: 0px;
    padding-top: 70px;
    letter-spacing: 0.5px;
    color: #666d89;
}

.text_and_links_portfolio a {
    text-decoration: none;
    color: #666d89;
    transition: color;
}

.text_and_links_portfolio a:hover {
    color:white;
}

.text_and_links_portfolio p {
    height: 40px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: left;
    padding-top: 7px;
    margin: 0px;
    letter-spacing: -0.22px;
}

.text_and_links_portfolio ul {
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 19px;
}

.text_and_links_portfolio li a {
    text-decoration: none;
    color: #767e9e;
    -webkit-transform: color;
        -ms-transform: color;
            transform: color;
}

.text_and_links_portfolio li a:hover {
    color: white;
}

.text_and_links_portfolio li {
    margin-right: 6px;
    display: inline;
    list-style-type: none;
    padding: 3.5px 6px;
    font-size: 10.5px;
    line-height: 22px;
    font-family: "Lato-Regular";
    font-weight: 400;
    text-align: left;
    border: solid 1px #767e9e;
    border-radius: 5px;
    letter-spacing: 0.8px;
    transform: border;
}

.text_and_links_portfolio li:hover {
    border: solid white 1px;
}

.portfolio_active {
    color:white;
}

#one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: o;
}

#two {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: t;
    
}

#three {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: th;
    
}

#four {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: f;
    
}

#five {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fi;
    
}

#six {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: s;
    
}

#seven {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: se;
    
}

#eight {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: e;
    
}

#nine {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: n;
    
}

#ten {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: te;
    
}

#eleven {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: el;
    
}

#twelve {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: tw;
    
}

.img_container div {
    padding: 0px;
    width: 240px;
    height: 207px;
    position: relative;
}

.img_container div img {
    position: absolute;
    
}

.main_img_container {
    min-height: 668px;
    border-bottom:#313745 solid 6px;
}

.img_container {
    height: 620px;
    width: 960px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    display: -ms-grid;
    grid-template-columns: repeat(4, 240px);
    display: grid;
        grid-template-areas:
    "o t th f"
    "fi s se e"
    "n te el tw";
}

.img_container:nth-child(n+13){
    display: none;
}

.active_border {
    border: solid #F06C64 5px;
    border-radius: 5%;
}

/* //PORTFOLIO */

/* ABOUT_US */

.container_info {
    height: 727px;
    background-color:#f1f1f1;
    border-bottom: solid 6px white;
    padding-left: 40px;
    padding-right: 22px;
}

.text_info h2 {
    margin: 0px;
    padding-top: 68px;
    font-family: 'Lato-Bold';
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.text_info p {
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 28px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;
}

.text_info .next_p {
    letter-spacing: -0.16px;
    padding-top: 0px;
    padding-bottom: 45px;
}

#first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
}

#second {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: second;
    margin:-ms-0px 10px;
}

#third {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: third;
}

.photo_info div {
    width: 320px;
}

.photo_info div .photo_img {
    width: 300px;
    height: 300px;
}

.photo_info {
    height: 442px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    "first second third"
}

.photo_info h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Bold";
    font-weight: 900;
    text-align: left;
    margin: 12px 0;
    letter-spacing: 0.13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.photo_info p {
    width: 300px;
    font-size: 12px;
    margin: 10px 0;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 400;
    text-align: justify;
    padding-bottom: 14px;
}

.photo_info a img {
    margin-right: 2px;
    border-radius: 50%;
    transition: background-color;
}

.photo_info a img:hover {
    background-color:white;
}

/* //ABOUT_US */

/* GET A QUOTE */

.container_get_a_quote {
    width: 1020px;
    margin: auto;
    background-color:#f06c64;
    min-height: 648px;
    border-bottom: solid 6px #eb676b;
}

.text_get_a_quote {
    max-width: 1020px;
    padding-left: 40px;
    padding-right: 22px;
    color: #f0d1d1;
}

.text_get_a_quote h2 {
    margin: 0px;
    padding-top: 70px;
    font-family: 'Lato-Bold';
    font-size: 30px;
    line-height: 18px;;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
}

.text_get_a_quote p {
    width: 940px;
    margin-bottom: 0px;
    padding-top: 9px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.05px;
}

.form_and_contact_container {
    padding-left: 40px;
    display: flex;
}

.form_container {
    margin-top: 43px;
}

.input_container input, textarea {
    background-color: #d6564f;
    border: 1px solid #d6564f; 
    border-radius: 5px;
    width: 603px;
    margin-right: 20px;
    height: 34px;
    margin-bottom: 16px;
    font-family: "Lato-Regular";
    font-size: 11px;
    padding-left: 14px; 
    color:#ec7e7f;
    letter-spacing: 0.6px;
    resize: none;
}

.form_container .name input:invalid, .form_container .email input:invalid {
    border: 1px solid #f0d1d1;
} 

textarea:focus, input:focus, .submit button:focus {
    outline: none;
}

::placeholder {
    color:#ec7e7f;
    letter-spacing: 0.6px;
}

#describe {
    width: 602px;
    height: 188px;
    padding-top: 10px;
}

.submit button {
    padding: 6px 11px;
    background-color: #d6564f;
    border-radius: 5px;
    border: 1px solid #f0d1d1;
    color: #f0d1d1;
    letter-spacing: 0.7px;
    transition: color, background-color;
}

.submit button:hover {
    color: #eb676b;
    background-color: #f0d1d1;
}

#message_block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0008;
}

.hidden {
    display: none;
}

#message {
    position: fixed;
    top:45%;
    left: 45%;
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
    line-height: 5px;
    color: white;
    background-color: #f06c64;
}

#message p {
    padding: 0 20px;
}

#close_btn {
    width: 50px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #f0d1d1;
    margin-bottom: 10px;
}

.contact_info h3 {
    margin: 0px;
    padding-top: 44px;
    font-family: 'Lato-Bold';
    font-size: 18px;
    color: #f0d1d1;
    line-height: 18px;;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.15px;
}

.adress_container {
    margin-top: 22px;
}

.contact_info p {
    margin-top: 10px;
    font-size: 11px;
    line-height: 22px;
    font-family: "Lato-Regular";
    color: #f0d1d1;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.4px;
    transition: color;
}

.link_to_contact p:hover {
    color:white;
}

.link_to_contact a {
    display: flex;
    text-decoration: none;
}

.location img {
    width: 7px;
    height: 11px;
    padding: 5px 13px 0 4px;
}

.link_to_contact p {
    margin: 0px;
    letter-spacing: 0.3px;
}

.tel img {
    width: 12px;
    height: 12px;
    padding: 4px 12px 0 0;
}

.mail img {
    width: 13px;
    height: 8px;
    padding: 7px 11px 0 0;
}

/* //GET A QUOTE */

/* FOOTER */

footer {
    width: 1020px;
    margin: auto;
    height: 76px;
    background-color:#2d303a;
    position: relative;
}

footer h3 {
    margin: 0px;
    padding: 30px 43px;
    display: inline-block;
    font-family: "Lato-Regular";
    font-size: 11px;
    color: #666d89;
    letter-spacing: 0.2px;
}

#social_container {
    position: absolute;
    right:39px;
    top:21px;
    display: inline-block;  
}

#social_container a {
    text-decoration: none;
}

.social_links {
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    border: solid 1px #666d89;
    border-radius: 50%;
    padding: 7px 0 0 7px;
    transition: background-color;
}

.social_links:hover {
    background-color:#f0d8d9;
}

/* FOOTER */
